body{
	text-align: center;
	background-image: url("../Images/Corkboard.gif");
	height: 100%;
	background-repeat: repeat-x;
	}
header{
	width: 60%;
	margin: auto;
	padding-top: 10px;
}
.Container{
	width: 440px;
	margin: auto;
	margin-top: 20px;
	max-height: 35%;
	/*background-color: black;*/
}
h1 {
	font-family: 'Asul', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 58px;
	margin-bottom: 20px;
	padding-top: 5px;
	letter-spacing: -2px;
	line-height: 1.0em;
	color: #FEFFD8;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
.list{
	background: url("../Images/postit2.gif");
	text-align: left;
	padding-left: 45px;
	font-size: 30px;
	padding-top: 40px;
	padding-bottom: 400px;
	width: 395px;
	margin-left: 0px;
	margin-top: 12px;
}
#listInput{
	width: 436px;
	height:35px;
	font-size: 25px;
	margin-top: 1px;
	background-color:#FEFFD8;
	margin-bottom: 10px;
}
#addNote {
	width: 218px;
	height: 38px;
	font-size: 24px;
	font-weight: bold;
	opacity: 0.9;
	line-height: 0px;
	vertical-align: top;
	background-color: #d98026;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e4a667), color-stop(50%, #dd8d3c), color-stop(100%, #ae661e));
	border-color: #824d17;
	border-left-color: #d98026;
	border-top-color: #d98026;
	webkit-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
	box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
	color: white;
	text-shadow: #985a1b 0 1px 2px;
}
#trashCan {
	width: 218px;
	height: 38px;
	font-size: 100%;
	line-height: 0px;
	vertical-align: top;
	font-size: 24px;
	font-weight: bold;
	opacity: 0.9;
	line-height: 0px;
	background-color: #d98026;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e4a667), color-stop(50%, #dd8d3c), color-stop(100%, #ae661e));
	border-color: #824d17;
	border-left-color: #d98026;
	border-top-color: #d98026;
	webkit-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
	box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
	color: white;
	text-shadow: #985a1b 0 1px 2px;
}
#listItems {
	list-style: decimal;
	padding-right: 200px;
	font: sans-serif;
}
.trashClosed input {
	position: absolute;
	margin-left: 85px;
	margin-top: 330px;
	padding: 10px 10px;
	font-size: x-large;
}
.trashClosed img {
	position: absolute;
	margin-left: 10%;
	margin-top: -50px;
}
.tackTwo {
	position: absolute;
	margin-top: -50px;
	margin-left: -300px;
}
.tackThree {
	position: absolute;
	margin-top: 100px;
	margin-left: -400px;
 }
#listItems li{
	padding-right: 10px;
	float: left;
	clear: left;
	font: sans-serif;
	list-style: none;
}
#inputDisplay{
	display: inline-block;
}
ol#listItems input{
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
input[type=checkbox]{
	text-decoration: none;
}
input[type=checkbox]:checked ~ #inputDisplay{
   text-decoration: line-through;
}
